.account-container {
  display: flex;
}

.account-nav {
  width: 150px;
  flex-shrink: 0;
}

.account-content {
  flex-grow: 1;
  padding-left: 20px;
  padding-top: 20px;
}

#wd-profile-screen {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
}

#wd-profile-screen h3 {
  font-size: 2rem;
  text-align: left;
  margin-bottom: 20px;
}

#wd-profile-screen input,
#wd-profile-screen select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-sizing: border-box; /* Ensure padding fits inside the element */
}

#wd-profile-screen input[type="date"] {
  padding-right: 30px;
}

#wd-profile-screen input:focus,
#wd-profile-screen select:focus {
  outline: none;
  border-color: #007bff;
  transition: border-color 0.3s ease;
}

#wd-profile-screen select {
  padding: 10px;
}

#wd-profile-screen a {
  display: block;
  text-align: left;
  background-color: #dc3545; /* Red color for the button */
  color: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
  font-size: 1rem;
  margin-top: 10px;
  cursor: pointer; /* Makes it feel more like a button */
}

#wd-profile-screen a:hover {
  background-color: #c82333;
}

@media (max-width: 768px) {
  #wd-profile-screen {
    max-width: 100%;
    padding: 10px;
  }

  .account-nav {
    width: 100px;
  }
}
